@using WebUI.Models.Helpers

<script src="~/Scripts/Views/CreateNft.js"></script>
<script src="~/Scripts/Views/CloudinaryManager.js"></script>
<script src="~/Scripts/Views/ManagerCategoryTable.js"></script>

@{
    ViewBag.Title = "Registro NFT";
}

@{
    Layout = "~/Views/Shared/NavBar.cshtml";

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>NETMARKETPLACE - By NetQuality</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" " />
    <meta name="keywords" content="" />
    <meta content="Pichforest" name="author" />

    <link rel="shortcut icon" href="../../Content/images/HeadIcon.png">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css" id="bootstrap-style" />

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="../../css/materialdesignicons.min.css" type="text/css" />

    <!-- Unicon Css -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/../../css/line.css" />

    <!-- Swiper Css -->
    <link rel="stylesheet" href="../../css/tiny-slider.css" type="text/css" />
    <link rel="stylesheet" href="../../css/swiper.min.css" type="text/css" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="../../css/style.min.css" type="text/css" />


    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>




</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">

    <!-- light-dark mode button -->
    <a href="javascript: void(0);" id="mode" class="mode-btn text-white rounded-end">
        <i class="uil uil-brightness mode-dark mx-auto"></i>
        <i class="uil uil-moon bx-spin mode-light"></i>
    </a>

    <!--Navbar Start-->
    <!-- Navbar End -->
    <!-- start section -->
    <section class="home section position-relative overflow-hidden" style="background-image: url(./../../Content/images/inner-image/login.png); background-repeat: no-repeat;">
        <!-- start container -->
        <div class="container">



            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-heading">
                        <h1 class="fw-bold">Create NFT</h1>
                        <p class="fw-semibold">
                            By getting started, you acknowledge and agree to Terms of Use and Privacy Policy
                        </p>
                    </div>
                </div>
            </div>


            <div class="mt-4">
                <form class="info-box" id="frmNFTRegister">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="profile-item">
                                <div class="avatar">
                                    <img id="uploadedimage" alt="" class="img-fluid rounded-circle avatar-xl">
                                </div>
                                <p class=" mb-0 my-3 fw-bold">NFT Image 📷</p>

                                <p class="mt-2">The story of your NFT starts here.🙌</p>
                                @Html.CtrlButton("CloudinaryManager", "btnPhoto", "Upload", onClickFunction: "uploadPhoto")


                            </div>


                            <div class="mt-4">
                                <div class="Name">
                                    @Html.CtrlInput("txtInput", "Text", "NFT Name", "Ex: Starry Night", "NameNFT")

                                </div>
                            </div>

                            <div class="mt-4">
                                <div class="Name">
                                    @Html.CtrlInput("txtInput", "Number", "NFT Price", "Ex: 100 cenfocoins", "Precio")
                                </div>
                            </div>

                            <div class="mt-4">
                                <div class="Name">
                                    @Html.CtrlInput("txtInput", "Text", "Collection", "Collection Name", "Collection")
                                    <!-- Html.DropDownList("") -->
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="Name">
                                    @Html.CtrlInput("txtInput", "Text", "Category", "Id Category", "CategotyId")
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        @Html.CtrlTable("ManagerCategoryTable", "categoryList", "Lista de categoria", "ID,Category Name", "Id,CategoryName", "Prueba")
                    </div>
                </form>
                <div class="submit-button">
                    @Html.CtrlButton("CreateNft", "btnSubmitNFTContent", "Submit", onClickFunction: "RegisterNFT")

                </div>
            </div>
        </div>
        <!-- end container -->
    </section>


    <!-- start footer -->
    <section class="footer">
        <div class="container">
            <div class="top-footer">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-info mt-4">
                            <!-- <img src="../../Content/images/inner-image/logo-dark.png" alt="" height="22"> -->
                            <a class="logo f-30 text-dark fw-bold" href="index.html">
                                <img src="../../Content/images/NETQUALITY.png" class="logo-dark" alt="" height="40">
                                <img src="../../Content/images/NETQUALITY.png" class="logo-light" alt="" height="40">
                            </a>
                            <p class="f-18 mt-2 text-muted">
                                Business opportunities Are Like <br> Buses, There's Always Another <br> One Coming...
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="mt-4">
                                    <h5 class="f-18 fw-bold">Policies</h5>
                                    <ul class="list-unstyled footer-link mt-3">
                                        <li><a href="">Security & Privacy</a></li>
                                        <li><a href="">Marketplace</a></li>
                                        <li><a href="">Term & Condition</a></li>
                                        <li><a href="">Collection</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="mt-4">
                                    <h5 class="f-18 fw-bold">Company</h5>
                                    <ul class="list-unstyled footer-link mt-3">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="~/Views/Home/activity.html">Pages</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="mt-4 pl-0 pl-lg-4">
                            <h5 class="f-18 fw-bold">Follow Us</h5>
                            <ul class="list-inline social-icons-list pt-3">
                                <li class="list-inline-item">
                                    <a href="#"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="mdi mdi-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="mdi mdi-linkedin"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="mdi mdi-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <hr>


        </div>
    </section>
    <!-- end footer -->
    <!-- Cloudinary -->

    <script src="https://widget.cloudinary.com/v2.0/global/all.js"
            type="text/javascript"></script>

    <!--Bootstrap Js-->
    <script src="../../Scripts/bootstrap.bundle.min.js"></script>

    <!-- Slider Js -->
    <script src="../../Scripts/tiny-slider.js"></script>
    <script src="../../Scripts/swiper.min.js"></script>

    <!-- counter -->
    <script src="../../Scripts/counter.init.js"></script>

    <!-- App Js -->
    <script src="../../Scripts/app.js"></script>

</body>

</html>